<footer style="margin-top: 8rem;">  
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-solid fa-globe"></i>&nbsp;ENGLISH(IN) ₹INR&nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;
                <i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;
                <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;
        </div>
        <div>©2024 Airbnb,Inc</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <p>&nbsp;.&nbsp;</p>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
<!-- <script>             //tyring to implement fixed footer when we reach the bottom, but it didn't really worked!!
    let footer = document.getElementsByClassName("f-info");
    window.addEventListener('scroll', function() {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            // console.log('You have reached the end of the page!');
            // You can add any other actions you want to perform here
            footer.style.position = "fixed";
        }else{
            footer.style.position = "sticky";
        }
    });

</script> -->